---

# tasks file for roles/tezos_baker

- name: Tezos baker container
  ignore_errors: yes
  docker_container:
    name: "{{ tezos_network }}_baker_{{ item }}"
    image: "{{ tezos_docker_image }}"
    state: started
    recreate: yes
    restart: yes
    restart_policy: always
    pull: yes
    networks:
      - name: "{{ tezos_network }}"
    entrypoint: >
      tezos-baker-{{ item }} --chain main --base-dir "/home/tezos/.tezos-client"
      --endpoint "{{ node_rpc_url }}"
      run with local node /data/node
    volumes:
      - "{{ node_data_dir }}:/data/node"
      - "{{ client_data_dir }}:/home/tezos/.tezos-client"
  with_items: "{{ tezos_economic_protocols }}"

- name: Tezos accuser container
  ignore_errors: yes
  docker_container:
    name: "{{ tezos_network }}_accuser_{{ item }}"
    image: "{{ tezos_docker_image }}"
    state: started
    recreate: yes
    restart: yes
    restart_policy: always
    pull: yes
    networks:
      - name: "{{ tezos_network }}"
    entrypoint: >
      tezos-accuser-{{ item }} --chain main --base-dir "/home/tezos/.tezos-client"
      --endpoint "{{ node_rpc_url }}"
      run
    volumes:
      - "{{ client_data_dir }}:/home/tezos/.tezos-client"
  with_items: "{{ tezos_economic_protocols }}"
