---

# tasks file for roles/tezos_baker

- name: set network_name variable from tezos_network
  set_fact:
    network_name: "{{ tezos_network | basename }}"

- name: change node and client directory names
  set_fact:
    node_rpc_url: "{% if node_rpc_url is defined %}{{ node_rpc_url }}{% else %}http://{{ network_name }}_node:{{ RPC_PORT_INTERNAL }}{% endif %}"

- name: Tezos baker container
  docker_container:
    name: "{{ network_name }}_baker_{{ item }}"
    image: "{{ tezos_docker_image }}"
    state: "{{ enable_baker | ternary('started', 'absent') }}"
    restart_policy: always
    networks:
      - name: "{{ network_name }}"
    entrypoint: tezos-baker-{{ item }}
    command: >-
      --chain main
      --endpoint "{{ node_rpc_url }}"
      run with local node /home/tezos/.tezos-node
      --liquidity-baking-toggle-vote pass
    volumes_from:
      - "{{ network_name }}_node_volumes"
  with_items: "{{ tezos_economic_protocols }}"

- name: Tezos accuser container
  docker_container:
    name: "{{ network_name }}_accuser_{{ item }}"
    image: "{{ tezos_docker_image }}"
    state: "{{ enable_accuser | ternary('started', 'absent') }}"
    restart_policy: always
    networks:
      - name: "{{ network_name }}"
    entrypoint: tezos-accuser-{{ item }}
    command: >-
      --chain main
      --endpoint "{{ node_rpc_url }}"
      run
    volumes_from:
      - "{{ network_name }}_node_volumes"
  with_items: "{{ tezos_economic_protocols }}"
